################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockExchangeYahooFinance/obj/Debug
/StockExchangeYahooFinance/bin/Debug
/packages
/StockExchangeYahooFinance.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StockExchangeYahooFinance.Data/bin/Debug
/StockExchangeYahooFinance.Data/obj/Debug
